html, body {
  height: 100%;
  width: 100%;
  background-color: #b5a711;
}
.header{
  text-align: right;
  color: white;
  background-color: #1b0da9;
}
.icone{
  width: 1.5%
}
.Destacar{
  background-color:#1b0da9;
  color: white;
}
.center{
  text-align:center;
}