.chatIMGT{
  color:white;
}
.chatIMG{
  width: 90%;
}
.chat{
  background-image: url(UKB.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.msg{
  width:86.7%
}
.header{
  text-align: right;
  color: white;
  background-color: #1b0da9;
}
.icone{
  width: 1.5%
}
body{
  background-color:#b5a711;
  box-sizing:border-box;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
header{
  background:#1b0da9;
  grid-area: h;
  display: flex;
  justify-content: right;
}
aside{
  background:#1b0da9;
  grid-area: a;
}
main{
  background:#b5a711;
  grid-area: m;
}
footer{
  background:#1b0da9; 
  grid-area: f;
}
.container{
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 3vh 94vh 3vh;
  grid-template-areas: 'h h'
                       'm a'
                       'f f'
}