.chatIMG{
  width: 10%
}
.chat{
  background-image: url(UKB.png);
  background-repeat: no-repeat;
}
.header{
  text-align: right;
  color: white;
  background-color: #1b0da9;
}
.icone{
  width: 1.5%
}
body{
background-color:#b5a711 
}